a,body,div,footer,form,h1,h2,h3,h4,h5,h6,header,hr,html,img,input,label,li,main,nav,ol,p,section,span,svg,ul {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

*,:after,:before {
    box-sizing: border-box
}

img {
    max-width: 100%
}

svg:not(:root) {
    overflow: hidden
}

input {
    border-radius: 0
}

::-webkit-input-placeholder {
    opacity: 1
}

:-ms-input-placeholder {
    opacity: 1
}

::placeholder {
    opacity: 1
}

a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
    outline: none
}

html {
    font-size: 10px
}

body {
    font-family: Work Sans,Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.8;
    color: #5d5d5d;
    -webkit-font-smoothing: antialiased
}

.container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    width: 90%;
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto
}

.container.container--vertically-center {
    -ms-flex-align: center;
    align-items: center
}

.container.container--wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.footer {
    padding: 4em 0 6em
}

@media screen and (min-width: 768px) {
    .footer {
        padding:6em 0
    }
}

.footer .secondary-header {
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    display: inline-block
}

@media screen and (min-width: 768px) {
    .footer .secondary-header {
        -ms-flex:0 0 auto;
        flex: 0 0 auto
    }
}

.footer .hero__link {
    display: block;
    padding: 15px 0;
    font-size: 3rem;
    font-weight: 300
}

@media screen and (min-width: 768px) {
    .footer .hero__link {
        display:inline-block;
        padding: 0 0 0 15px;
        font-size: 3.8rem
    }
}

.social-list {
    margin: 0;
    padding: 0;
    font-size: 1.6rem
}

.social-list__item {
    display: block;
    margin: 0 0 10px;
    list-style: none
}

@media screen and (min-width: 768px) {
    .social-list__item {
        display:inline-block;
        margin: 0 30px 0 0
    }
}

.social-list__item-link {
    transition: color .25s ease
}

.social-list__item-link:active,.social-list__item-link:focus,.social-list__item-link:hover {
    color: #00a5cf
}

.hero-header {
    margin: auto 5% auto 0;
    max-width: 640px
}

.hero .container {
    position: relative;
    z-index: 10
}

.hero__title {
    position: relative;
    max-width: 840px;
    margin-top: .5em;
    margin-bottom: 1.5em;
    letter-spacing: -1px;
    line-height: 1.7;
    font-size: 3rem;
    font-weight: 400
}

@media screen and (min-width: 768px) {
    .hero__title {
        margin-top:1.25em;
        margin-bottom: 2.5em;
        line-height: 68px;
        font-size: 3.8rem
    }
}

.hero__link {
    color: #00a5cf;
    transition: color .25s ease
}

.hero__link:active,.hero__link:focus,.hero__link:hover {
    color: #5d5d5d
}

.hero__link--second {
    color: #29c6b2;
    transition: color .25s ease
}

.hero__link--second:active,.hero__link--second:focus,.hero__link--second:hover {
    color: #5d5d5d
}

.nav {
    position: relative;
    padding: 2em 0 .5em;
    -ms-flex-align: center;
    align-items: center;
    z-index: 10
}

.nav__list {
    -ms-flex: 1 1 0px;
    flex: 1 1 0;
    margin: 0;
    padding: 0;
    text-align: right
}

@media screen and (min-width: 768px) {
    .nav__list {
        margin:-20px 0 0
    }
}

.nav__list-item {
    display: inline-block;
    padding: 0 40px;
    letter-spacing: .5px;
    font-size: 1.8rem;
    transition: color .25s ease
}

.nav__list-item:active,.nav__list-item:focus,.nav__list-item:hover {
    color: #00a5cf
}

.featured-work-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    padding-bottom: 4em
}

@media screen and (min-width: 768px) {
    .featured-work-container {
        padding-bottom:0;
        padding-left: 15px;
        padding-right: 15px
    }
}

.work-link {
    display: inline-block;
    padding: 15px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%
}

.work-link.work-link--50 {
    -ms-flex: 1 1 100%;
    flex: 1 1 100%
}

@media screen and (min-width: 768px) {
    .work-link.work-link--50 {
        -ms-flex:0 0 50%;
        flex: 0 0 50%
    }
}

.work-link-wrapper {
    transition: all .2s ease;
    transform: translateY(0);
    background: lightblue;
    box-shadow: 0 0 0 rgba(93,93,93,0);
}

.work-link-wrapper:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 14px rgba(93,93,93,.1)
}

.work-link-media {
  height: 240px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.work-link-media img {
  height: 90%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.work-link-content {
    position: relative;
    z-index: 10;
    width: 100%;
    background: #fff;
    padding: 25px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    overflow: hidden;
    transition: 0.2s all ease-in-out;
}

.link-content__header {
    text-align: center;
    margin-bottom: 0;
    color: #5d5d5d;
    letter-spacing: 0;
    line-height: 1.2;
    font-size: 1.8rem;
    font-weight: 400;
    transition: color .3s ease;
    width: 100%;
    transition: width 0.2s ease-in-out;
}

.link-content__link-reveal {
  position: absolute;
  right:-25%;
  background: #eee;
  transition: all 0.2s ease-out;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  height: 100%;
  width: 25%;
}

.link-content__link {
    width: 40px;
    height: 40px;
    padding: 5px;
}

.link-content__link:hover path {
    fill:#5d5d5d;
}

.link-content__link path {
    fill: #00a5cf
}

@media screen and (min-width: 768px) {
    .link-content__header {
        font-size:2.4rem
    }
}

.work {
    margin-top: 2em;
    padding: 4em 0;
    background: #eeea
}

@media screen and (min-width: 768px) {
    .work {
        margin-top:4em;
        /* padding: 8em 0 */
    }
}

.secondary-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    margin-bottom: .5em;
    letter-spacing: -1px;
    font-size: 3rem;
    font-weight: 400
}

@media screen and (min-width: 768px) {
    .secondary-header {
        font-size:3.8rem
    }
}

.secondary-header.header--white {
    color: #fff
}

.hockey-cards {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hockey-cards__card {
  position: absolute;
  width: 150px;
  height: 210px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: transform 0.2s ease-in-out;
  background-color: white;
}

.hockey-cards__card img {
  height: 100%;
  width: 100%;
}

.hockey-cards__card:nth-child(1) {
  transform:translateY(4px) rotate(2deg)
}
.hockey-cards__card:nth-child(2) {
  transform:translateY(2px) rotate(-3deg)
}
.hockey-cards__card:nth-child(3) {

}

.work-link-wrapper:hover .hockey-cards__card:nth-child(1) {
  transform: translateX(-75px) rotate(0)
}

.work-link-wrapper:hover .hockey-cards__card:nth-child(2) {
  transform: translateX(0) rotate(0)
}

.work-link-wrapper:hover .hockey-cards__card:nth-child(3) {
  transform: translateX(75px) rotate(0)
}

.work-link-wrapper:hover .link-content__link-reveal {
  right: 0;
}

.work-link-wrapper:hover .link-content__header {
  width: 75%;
}

@media only screen and (max-width: 768px) {
  .work-link-wrapper .link-content__link-reveal {
    right: 0;
  }

  .work-link-wrapper .link-content__header {
    width: 75%;
  }
}

#website-redesign-image {
  width: 325px;
  height: 216px;
  /* background-image: url("resources/old-website.jpg"); */
  background-size: contain;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  animation: loop-images 6s infinite ease-in-out;
}

@keyframes loop-images {
  0% {
    background-image: url("resources/old-website.jpg")
  }
  25% {
    background-image: url("resources/old-website.jpg")
  }
  50% {
    background-image: url("resources/new-website.jpg");
  }
  75% {
    background-image: url("resources/new-website.jpg");
  }
  100% {
    background-image: url("resources/old-website.jpg");
  }
}

#profile-pic {
  width:250px;
  height:250Px;
  border-radius: 50%;
  overflow: hidden;
  margin: 2em;
}

@media screen and (max-width: 768px) {
  #profile-pic {
    width: 150px;
    height: 150px;
  }
}
